<launch>

  <!-- Run self-filter -->
  <!-- <node name="laser_filter"  pkg="turtlebot_laser_navigation" type="laser_footprint_filter" /> -->
 
  <!-- Run gmapping -->
  <!-- <include file="$(find turtlebot_laser_navigation)/config/gmapping_turtlebot.launch" >
    <arg name="scan_topic" value="scan_filtered" /> -->
  <include file = "$(find turtlebot_laser_navigation)/launch/includes/gmapping/gmapping.launch.xml" >
    <arg name="scan_topic" value="scan" />
  </include>

  <!-- Run Move Base and Robot Pose EKF -->
  <!-- <include file="$(find turtlebot_laser_navigation)/laser/move_base_turtlebot_laser_navigation.launch" /> -->
  <include file="$(find turtlebot_laser_navigation)/laser/move_base_laser.launch" />

</launch>